@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ValorOil</h1>
   <p>This application will be able maximize Well Management efficiency.</p>
   <p>Made by SebastianGonzalezSWE</p>
</div>
