@page
@model ValorOil.Pages.Wells.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Well</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Well.WellID" />
            <div class="form-group">
                <label asp-for="Well.Well_Name" class="control-label"></label>
                <input asp-for="Well.Well_Name" class="form-control" />
                <span asp-validation-for="Well.Well_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Well.Storage_Capacity" class="control-label"></label>
                <input asp-for="Well.Storage_Capacity" class="form-control" />
                <span asp-validation-for="Well.Storage_Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Well.Flow_Rate" class="control-label"></label>
                <input asp-for="Well.Flow_Rate" class="form-control" />
                <span asp-validation-for="Well.Flow_Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Well.OperatorID" class="control-label"></label>
                <select asp-for="Well.OperatorID" class="form-control" asp-items="ViewBag.OperatorID"></select>
                <span asp-validation-for="Well.OperatorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
